<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas</title>
</head>
<div id="app">
    <button v-on:click.prevent="addAngka()">Open Form</button>
    <h1>Nilai a : {{ hasil }}</h1>
    <h2>Rata - rata : {{ rataRata() }}</h2>
</div>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
<script>
    var vm = new Vue({
        el: '#app',
        data: {
            hasil: 0,
            hitungan: 0
        },
        methods: {
            addAngka: function() {
                var i = 0
                while (this.hasil < 10) {
                    var angka = parseInt(prompt("Masukan nilai a :"));
                    this.hasil += angka;
                    i++
                }
                this.hitungan = i;

            },
            rataRata: function() {
                return rataRata = this.hasil / this.hitungan
            }
        }
    })
</script>

<body>

</body>

</html>