<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    form {
        border: 1px solid #ddd;
        padding: 5px;
        width: 225px;
        background: #efefef;
    }
    
    label {
        display: block;
        margin-top: 5px;
    }
    
    input,
    textarea,
    select,
    option {
        min-width: 200px;
    }
</style>

<body>
    <div id="apps">
        <form v-on:submit.prevent="submitForm()">
            <p v-if="errors.length > 0">
                <b>Please correct the following errors :</b>
                <ul>
                    <li v-for=" error in errors ">{{ error }}</li>
                </ul>
            </p>
            <label for="name">name</label>
            <input v-bind:disabled="button == 'upload'" type="text" name="name" ref="name" v-model="name">

            <label for="address">address</label>
            <textarea v-bind:disabled="button == 'upload'" name="address" ref="address" v-model="address"></textarea>

            <label for="no_hp">No Telepon</label>
            <input v-bind:disabled="button == 'upload'" type="text" ref="no_hp" v-model="no_hp"><br></br>

            <div v-if="button == 'submit'">
                <input type="submit" value="SUBMIT"></input>
            </div>

            <div v-if="button == 'update'">
                <input type="submit" value="UPDATE" v-on:click.prevent="updateForm(idEdit)" style="margin-top: 5px;"></input><br>
                <input type="submit" value="CANCEL" v-on:click.prevent="cancelForm()" style="margin-top: 5px;"></input><br>
                <input type="submit" value="BACK" v-on:click.prevent="button = 'submit'" style="margin-top: 5px;"></input>
            </div>

            <div v-if="button == 'upload'">
                <input type="file" name="photo" ref="photo">
                <input type="submit" value="UPLOAD" v-on:click.prevent="submitFoto(idUpload)" style="margin-top: 5px;"></input><br>
                <input type="submit" value="CANCEL" v-on:click.prevent="cancelForm()" style="margin-top: 5px;"></input><br>
                <input type="submit" value="BACK" v-on:click.prevent="button = 'submit'" style="margin-top: 5px;"></input>
            </div>
        </form>

        <br><br>

        <table border="1">
            <tr v-for="member of members">
                <td>
                    <img width=100 :src="member.photo_profile ? photo_domain + member.photo_profile : 'https://dummyimage.com/16:9x1080'" alt="">
                </td>
                <td>
                    <b>name :</b> {{ member.name }} <br>
                    <b>address : </b>{{ member.address }} <br>
                    <b>phone number : </b> {{ member.no_hp }} <br>
                </td>
                <td>
                    <button v-on:click.prevent="editForm(member)">edit</button>
                    <button v-on:click.prevent="deleteForm(member)">hapus</button>
                    <button v-on:click.prevent="uploadFoto(member)">upload photo</button>
                </td>
            </tr>

        </table>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js "></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js "></script>
<script>
    var vm = new Vue({
        el: ' #apps ',
        data: {
            idEdit: null,
            idUpload: null,
            name: ' ',
            address: ' ',
            no_hp: '',
            photo_domain: 'http://demo-api-vue.sanbercloud.com',
            button: 'submit',
            members: [],
            errors: []
        },
        methods: {
            inputValidation: function() {
                this.errors = []
                if (this.name.length < 5) {
                    this.errors.push("name harus lebih dari 5 karakter");
                    this.$refs.name.focus();
                }
                if (this.address.length < 10) {
                    this.errors.push("address harus lebih dari 10 karakter");
                    this.$refs.address.focus();
                }
                if (this.no_hp.length < 12) {
                    this.errors.push("no telepon harus lebih dari 12 karakter");
                    this.$refs.no_hp.focus();
                }
            },

            cleanForm: function() {
                this.name = ''
                this.address = ''
                this.no_hp = ''
            },

            submitForm: function() {

                this.inputValidation();

                if (this.errors.length == 0) {
                    var config = {
                        method: "post",
                        url: 'http://demo-api-vue.sanbercloud.com/api/member',
                        data: {
                            'name': this.name,
                            'address': this.address,
                            'no_hp': this.no_hp
                        }
                    };
                    axios(config)
                        .then((response) => {

                            this.cleanForm();
                            this.getForm();

                            alert(response.data.message);
                            console.log(response.data);

                        })
                        .catch((error) => {
                            console.log(error.response.data);
                        })
                }
            },

            getForm: function() {
                var config = {
                    method: 'get',
                    url: 'http://demo-api-vue.sanbercloud.com/api/member'
                };
                axios(config)
                    .then((response) => {
                        this.members = response.data.members

                        console.log(response.data.members)
                    })
                    .catch((error) => {
                        console.log(error.response.data);
                    })
            },

            editForm: function(member) {
                this.idEdit = member.id
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.button = 'update'
            },

            updateForm: function(idEdit) {

                this.inputValidation();

                if (this.errors.length == 0) {
                    var config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${idEdit}`,
                        params: {
                            _method: 'PUT'
                        },
                        data: {
                            'name': this.name,
                            'address': this.address,
                            'no_hp': this.no_hp
                        }

                    };
                    axios(config)
                        .then((response) => {
                            this.cleanForm()
                            this.getForm()

                            alert(response.data.message)
                            console.log(response.data);
                        })
                        .catch((error) => {
                            console.log(error.response.data);
                        })
                }
            },

            cancelForm: function() {
                this.name = ''
                this.address = '',
                    this.no_hp = ''
            },

            deleteForm: function(member) {
                var config = {
                    method: 'post',
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${member.id}`,
                    params: {
                        _method: 'DELETE'
                    },


                };
                axios(config)
                    .then((response) => {
                        this.getForm()
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error.response.data);
                    })
            },

            uploadFoto: function(member) {
                this.name = member.name
                this.address = member.address
                this.no_hp = member.no_hp
                this.button = 'upload'
                this.idUpload = member.id
            },

            submitFoto: function(idUpload) {

                this.$refs.photo.value = 0;

                var config = {
                    method: 'post',
                    url: `http://demo-api-vue.sanbercloud.com/api/member/${idUpload}/upload-photo-profile`,
                    data: {
                        'photo_profile': this.foto
                    }

                };
                axios(config)
                    .then((response) => {

                        this.clearForm()
                        this.getForm()
                        alert(response.data.message)
                    })
                    .catch((error) => {
                        console.log(error.response.data.errors);
                    });
            }

        },
        created() {
            this.getForm()
        }

    })
</script>

</html>

</html>

</html>