<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div id="app">
        <form @submit.prevent="submitForm()">
            <input type="text" placeholder="Masukkan Nama" v-model:value="newTask" />
            <input type="submit" v-model:value="status">
        </form>
        <p v-for="item in users">
            {{item.name}} || <button @click="Edit(item.name)">Edit</button> || <button @click="Delete(item.name)">Delete</button>
        </p>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script>
        var vm = new Vue({
            el: "#app",
            data: {
                status: 'masukkan',
                newTask: "",
                edit: "",
                users: [{
                    'name': 'Muhammad Iqbal Mubarrak',
                }, {
                    'name': 'Ruby Purwanti',
                }, {
                    'name': 'Faqih Muhammad'
                }]
            },
            methods: {
                submitForm: function() {
                    if (this.status == 'masukkan') {
                        this.users.push({
                            'name': this.newTask
                        });
                        this.newTask = "";
                        this.status = 'masukkan'
                    } else {
                        for (i = 0; i < this.users.length; i++) {
                            if (this.users[i].name == this.edit) {
                                this.users.splice(i, 1)
                                i += 0
                            } else {
                                i++
                            }
                        }
                        this.users.push({
                            'name': this.newTask
                        });
                        this.newTask = "";
                        this.status = 'masukkan'

                    }
                },
                seeAll: function() {
                    for (i = 0; i < this.users.length; i++) {
                        return this.users[i]
                    }
                },
                Edit: function(name) {
                    this.newTask = name
                    this.edit = name
                    this.status = 'edit'
                },
                Delete: function(array) {
                    for (i = 0; i < this.users.length; i++) {
                        if (this.users[i].name == array) {
                            this.users.splice(i, 1)
                            i += 0
                        } else {
                            i++
                        }
                    }
                }
            }
        })
    </script>
</body>

</html>