<template>
  <div>
      <v-card :to="'/campaign/' + campaign.id"
      >
        <v-img
            :src="campaign.image"
            class="white--text"
            aspect-ratio=""
            max-height="300px"
           >

            <v-card-title
            class="fill-height align-end"
            v-text="campaign.title"
            ></v-card-title>
        </v-img>
        
        <v-card-actions>
            <v-progress-linear
            v-model="progress"
            color="blue"
            height="7">
            </v-progress-linear>
        </v-card-actions>
        
        <v-card-actions>
            <v-icon>mdi-cash</v-icon>
          <b><span>Donasi Yang Dibutuhkan : Rp {{ campaign.required.toLocaleString('id-ID') }}</span></b>
            <v-spacer></v-spacer>
           <b><span class="red-text">{{ progress }}%</span></b>
         </v-card-actions>
      </v-card>
  </div>
</template>

<script>
export default {
    name : 'campaign-item',
    props : ['campaign'],
    computed : {
        progress () {
            return ((this.campaign.collected / this.campaign.required) * 100)
        }
    }
}
</script>