<template>
  <v-card>
      <v-toolbar dark color="success">
          <v-btn icon dark @click.native="close">
              <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Login</v-toolbar-title>
      </v-toolbar>
      <v-divider></v-divider>

      <v-container fluid>
            <v-form ref="form" v-model="valid" lazy-validation>
                <v-text-field
                v-model="email"
                :rules="emailRules"
                label="E-mail"
                required
                append-icon="mdi-email">
                </v-text-field>
                <v-text-field
                v-model="password"
                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                :rules="passwordRules"
                :type="showPassword ? 'text' : 'password'"
                label="Password"
                hint="At least 8 characters"
                counter
                @click:append="showPassword = !showPassword">
                </v-text-field>

                <br>

                <div class="text-xs-center">
                  <v-btn
                    color="success lighten-1"
                    :disabled="!valid"
                    @click="submit">
                    
                    Login
                    <v-icon right dark>mdi-lock-open</v-icon>
                  </v-btn>

                  <v-btn
                    color="primary lighten-1"
                    @click="authProvider('google')">
                    
                    Login with google
                    <v-icon right dark>mdi-google</v-icon>
                  </v-btn>
                </div>
            </v-form>

                <br>

                <div>
                    <v-dialog
                        width="500"
                    >
                        <template v-slot:activator="{ on, attrs }">
                            <v-btn
                                color="red lighten-2"
                                dark
                                v-bind="attrs"
                                v-on="on"
                            >
                            Forgot Password
                            </v-btn>                
                        </template>            
                        <v-card>
                            <v-card-title class="text-h5 grey lighten-2">
                            Get your new password
                            </v-card-title>

                            <v-stepper v-model="e1">
                                <v-stepper-header>
                                    <v-stepper-step
                                        :complete="e1 > 1"
                                        step="1"
                                    >
                                        Email
                                    </v-stepper-step>

                                    <v-divider></v-divider>

                                    <v-stepper-step
                                        :complete="e1 > 2"
                                        step="2"
                                    >
                                        New password
                                    </v-stepper-step>
                                </v-stepper-header>

                                <v-stepper-items>
                                <v-stepper-content step="1">
                                    <v-form ref="form" v-model="validForgotPassword" lazy-validation>
                                        <v-text>
                                        We need to know if you have an account to change your password.
                                        </v-text>
                                        <br>
                                        <v-text-field
                                            v-model="verifyEmail"
                                            :rules="emailRules"
                                            label="E-mail"
                                            required
                                            append-icon="mdi-email">
                                        </v-text-field>
                                        <br>
                                        <v-btn
                                            :disabled="!validForgotPassword"
                                            color="primary"
                                            @click="verifyPassword(e1p = 2)"
                                            >
                                            Continue
                                        </v-btn>
                                    </v-form>
                                </v-stepper-content>

                                <v-stepper-content step="2">
                                    <v-text-field
                                        v-model="newPassword"
                                        :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                        :rules="passwordRules"
                                        :type="showPassword ? 'text' : 'password'"
                                        label="New Password"
                                        hint="At least 8 characters"
                                        counter
                                        @click:append="showPassword = !showPassword">
                                    </v-text-field>

                                    <v-text-field
                                        v-model="confirmPassword"
                                        :append-icon="showPasswordConfirm ? 'mdi-eye' : 'mdi-eye-off'"
                                        :rules="confirmpasswordRules"
                                        :type="showPasswordConfirm ? 'text' : 'password'"
                                        label="Confirm New Password"
                                        counter
                                        @click:append="showPasswordConfirm = !showPasswordConfirm">
                                    </v-text-field>
                                    <br>

                                    <v-btn
                                    color="primary"
                                    @click="verifyPassword()"
                                    >
                                    Continue
                                    </v-btn>
                                </v-stepper-content>

                                </v-stepper-items>
                            </v-stepper>
                        </v-card>
                    </v-dialog>
                </div>
      </v-container>
  </v-card>
</template>

<script>
import { mapGetters, mapActions} from 'vuex'
export default {
    name : 'login',
    data () {
        return {
            e1 : 1,
            valid : true,
            validForgotPassword : false,
            email : '',
            verifyEmail : '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /([a-zA-Z0-9_]{1,})(@)([a-zA-Z0-9_]{2,}).([a-zA-Z0-9_]{2,})+/.test(v) || 'E-mail must be valid'
            ],
            showPassword: false,
            showPasswordConfirm : false,
            password : '',
            passwordRules: [
                v => !!v || 'password required.',
                v => (v && v.length >= 8) || 'Min 8 characters'
            ],
            confirmpasswordRules: [
                v => v == this.newPassword || 'Your password must be same',
                v => !!v || 'password required.',
            ],
            newPassword : '',
            confirmPassword : '', 
            kondisi : false,
            counter : 0
        }
    },
    computed : {
        ...mapGetters({
            user : 'auth/user'
        })
    },
    methods: {
        ...mapActions({
            setAlert : 'alert/set',
            setAuth : 'auth/set'
        }),

        submit () {
            if(this.counter <= 5) {
                if(this.$refs.form.validate()) {
                    let formData = {
                        'email' : this.email,
                        'password' : this.password
                    }
                axios.post('/api/auth/login', formData)
                    .then((response) => {
                        if(response.data.status_code != '01') {
                            this.setAuth(response.data.data.users)
                            this.setAlert({
                                status : true,
                                color : 'success',
                                text : 'Login Success'
                            }), 
                            this.close()
                        }else{
                            this.setAlert({
                                status : true,
                                color : 'error',
                                text : response.data.message
                            })
                            this.kondisi = true
                            this.counter += 1
                        }
                    })
                    .catch((error) => {
                        let responses = error.response

                        this.setAlert({
                            status : true,
                            text : responses.data.error,
                            color : 'error'
                        })
                        this.counter += 1
                    })
                }
            }else{
                this.setAlert({
                    status : true,
                    text : 'Sorry, You have tried ' + this.counter + ' times to login, Please to Register!',
                    color : 'error'
                })
                this.email = ''
                this.password = ''
                this.close()
                window.location.reload();   
            }

        },

        verifyPassword(e1p) {
            if(this.newPassword != ''){
                if(this.newPassword != '' && this.confirmPassword != '') {
                    let formData = {
                        'email'                 : this.verifyEmail,
                        'password'              : this.newPassword,
                        'password_verification' : this.confirmPassword
                    }

                    axios.post('/api/auth/updatePassword', formData)
                    .then((response) => {
                        if(response.data.status_code != '01'){
                            this.setAlert({
                                status  : true,
                                color   : 'success',
                                text    : response.data.message
                            }) 

                        }else{
                            this.setAlert({
                                status  : true,
                                text    : response.data.message,
                                color   : 'error'
                            })
                        }
                    })
                    .catch((error) => {
                    let responses = error.response

                    this.setAlert({
                        status : true,
                        text : responses.data.error,
                        color : 'error'
                    })
                })
                }else{
                    this.setAlert({
                        status : true,
                        text : 'New password and confirm password is required',
                        color : 'error'
                    })
                }
            }else{
                if(this.verifyEmail != '') {
                    let verifyEmail = {
                        'email' : this.verifyEmail
                    }

                    axios.post('/api/auth/updatePassword', verifyEmail)
                    .then((response) => {
                        if(response.data.status_code != '01'){
                            this.e1 = e1p
                        }else{
                            this.setAlert({
                                status  : true,
                                text    : response.data.message,
                                color   : 'error'
                            })
                        }
                    })
                    .catch((error) => {
                        let responses = error.response

                        this.setAlert({
                            status : true,
                            text : responses.data.error,
                            color : 'error'
                        })
                    })
                }else{
                    this.setAlert({
                        status : true,
                        text : 'Email is required',
                        color : 'error'
                    })
                }
            }
        },

        close () {
            this.$emit('closed', false)
        }, 
        authProvider(provider) {
            let url = '/api/auth/social/' + provider

            axios.get(url)
                .then((response) => {
                    let data = response.data
                    window.location.href = data.url
                })
                .catch((error) => {
                    this.setAlert({
                        status : true,
                        text : error.message,
                        color : 'error'
                    })
                })
        }
    }
}
</script>
