<template>
  <v-card>
       <v-toolbar dark color="success">
          <v-btn icon dark @click.native="close">
              <v-icon>mdi-close</v-icon>
          </v-btn>
          <v-toolbar-title>Register</v-toolbar-title>
        </v-toolbar>

        <v-stepper v-model="e1">
            <v-stepper-header>
                <v-stepper-step
                    :complete="e1 > 1"
                    step="1"
                >
                    Fill Your Bio
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step
                    :complete="e1 > 2"
                    step="2"
                >
                    Verify OTP Codes
                </v-stepper-step>

                <v-divider></v-divider>

                <v-stepper-step step="3">
                    Result
                </v-stepper-step>
            </v-stepper-header>
            
            <v-stepper-items>
                <v-stepper-content step="1">
                    <v-container fluid>
                        <div></div>
                        <v-form ref="form" v-model="valid" lazy-validation enctype="multipart/form-data">
                                <v-text-field
                                    v-model="username"
                                    :rules="usernameRules"
                                    label="Username"
                                    :counter="10"
                                    required
                                    append-icon="mdi-account"
                                ></v-text-field>
                                <v-text-field
                                    v-model="email"
                                    :rules="emailRules"
                                    label="E-mail"
                                    required
                                    append-icon="mdi-email">
                                </v-text-field>
                                <v-text-field
                                    v-model="password"
                                    :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                    :rules="passwordRules"
                                    :type="showPassword ? 'text' : 'password'"
                                    label="Password"
                                    hint="At least 8 characters"
                                    counter
                                    @click:append="showPassword = !showPassword">
                                </v-text-field>
                                <v-text-field
                                    v-model="fullname"
                                    :rules="fullnameRules"
                                    :counter="10"
                                    label="Fullname"
                                    required
                                    append-icon="mdi-account-box-outline"
                                ></v-text-field>
                                <v-file-input
                                    show-size
                                    counter
                                    :rules="imageRules"
                                    type="file"
                                    ref="file"
                                    @change="onFilePicked"
                                    accept="image/png, image/jpeg, image/jpg"
                                    placeholder="Pick an avatar"
                                    prepend-icon="mdi-camera"
                                    label="Choose Your Photo Profile"
                                ></v-file-input>
                                <center>
                                    <img :src="imageUrl"  width="30%" height="30%" align="center" v-if="imageUrl"/>
                                </center>

                                 <div v-if="select == 'admin'">{{ this.kondisiSelect = true }}</div>
                                <v-select
                                    v-model="select"
                                    :rules="itemsRules"
                                    :items="items"
                                    label="What's your role?"
                                    required
                                ></v-select>
                              
                                <div class="text-center" v-if="select == 'admin'">
                                    <v-dialog
                                    width="500"
                                    >
                                    <template v-slot:activator="{ on, attrs }">
                                        <v-btn
                                        color="red lighten-2"
                                        dark
                                        v-bind="attrs"
                                        v-on="on"
                                        >
                                        Verify as Owner
                                        </v-btn>
                                    
                                    </template>
                                    
                                    <v-card>
                                        <v-card-title class="text-h5 grey lighten-2">
                                        Please input your password
                                        </v-card-title>

                                        <v-card-text><br>
                                        We need to know if you have owner privillage to make someone as an admin.
                                        </v-card-text>

                                        <v-card-text
                                            cols="12"
                                            sm="6"
                                            md="4"
                                            >
                                            <v-text-field
                                                v-model="passwordOwner"
                                                :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
                                                :rules="passwordOwnerRules"
                                                :type="showPassword ? 'text' : 'password'"
                                                label="Password"
                                                hint="At least 6 characters"
                                                counter
                                                @click:append="showPassword = !showPassword"
                                            ></v-text-field>
                                        </v-card-text>
                                        <v-card-actions>
                                            <v-spacer></v-spacer>
                                            <v-btn
                                                color="primary"
                                                text
                                                @click="verifyPasswordOwner()"
                                            >
                                                Verify
                                            </v-btn>
                                        </v-card-actions>
                                    </v-card>
                                    </v-dialog>
                                </div>
                                <v-checkbox v-if="select != 'admin'"
                                    v-model="kondisi"
                                    label="I agree term and conditions with this application"
                                    required
                                ></v-checkbox>
                        </v-form>
                    </v-container>
                    
                    <v-btn
                        color="primary"
                        :disabled="this.kondisiSelect == true || this.kondisi == false "
                        @click="submit(e1p = 2)"
                        >
                        Continue
                    </v-btn>

                    <v-btn text @click="clear()">
                        Clear
                    </v-btn>

                </v-stepper-content>

                <v-stepper-content step="2" >
                    <br>
                    <v-container class="ma-auto position-relative" fluid>
                        <v-row>
                            <v-col cols="9">
                                <div class="ma-auto" style="max-width: 300px">
                                <br>
                                <v-otp-input
                                    v-model="otp"
                                    color="primary"
                                    
                                > 
                                <div v-if="otp.length >= 6"> {{ kondisiVerify = true }}</div>
                                </v-otp-input>
                                </div>
                            </v-col>

                            <v-col cols="2" class="my-3">
                                <v-btn 
                                    block 
                                    color="primary" 
                                    @click="verifyOTPCodes(e2p=3)"
                                    :disabled="kondisiVerify == false"
                                    >Verify
                                </v-btn>
                                <br>
                                 <v-btn 
                                    block 
                                    color="red" 
                                    :disabled ="select == 'admin'"
                                    @click="getNewOTPCodes()"
                                    >Request New OTP Codes
                                </v-btn>
                            </v-col>

                       </v-row>
                    </v-container>
                </v-stepper-content>

                <v-stepper-content step="3">
                    <v-card>
                        <v-responsive :aspect-ratio="4/3">
                            <v-card-text align="center">
                            <b>Thank Your For Your Register. Please click below button</b>
                            </v-card-text>

                            <v-btn
                                position= center
                                class="ma-2"
                                color="info"
                                @click="succesRegister()"
                                >
                                Continue
                            </v-btn>
                        </v-responsive>
                    </v-card>
                </v-stepper-content>
            </v-stepper-items>
        </v-stepper>
  </v-card>
</template>

<script>
import { mapGetters, mapActions} from 'vuex'
export default {
    name : 'register',
    data () {
        return {
            valid : true,
            username : '',
            kondisiSelect : false,
            kondisi : true,
            usernameRules: [
                v => !!v || 'E-mail is required',
                v => (v && v.length <= 10) || 'Max 10 characters'
            ],
            email: '',
            emailRules: [
                v => !!v || 'E-mail is required',
                v => /([a-zA-Z0-9_]{1,})(@)([a-zA-Z0-9_]{2,}).([a-zA-Z0-9_]{2,})+/.test(v) || 'E-mail must be valid'
            ],
            showPassword: false,
            password : '',
            passwordRules: [
                v => !!v || 'Password is required.',
                v => (v && v.length >= 8) || 'Min 8 characters'
            ],
            passwordOwnerRules: [
                v => !!v || 'Password is required.',
                v => (v && v.length >= 6) || 'Min 6 characters'
            ],
            fullname : '',
            fullnameRules : [
                 v => !!v || 'Fullname is required.',
            ],
            imageUrl: '',
            imageFile: null,
            imageName: '',
            imageRules : [
                v => !!v || 'Image is required'
            ],
            items: [
                { text: "User", value: "user" },
                { text: "Admin", value: "admin" },
            ],
            itemsRules : [
                 v => !!v || 'Item is required.',
            ],
            e1: 1,
            select : '',
            pilih : '',
            kondisiVerify : false,
            passwordOwner : '',
            checkbox : '',
            kondisiBox : false,

            otp : ''
        }
    },
    computed : {
        ...mapGetters({
            user : 'auth/user'
        }),
        buttonCheckValidation () {
            return (
                this.select == 'admin',
                this.kondisi == false
            )
        }
    },
    methods: {
        ...mapActions({
            setAlert : 'alert/set',
            setAuth : 'auth/set'
        }),
        verifyPasswordOwner () {
            let password = 'sayaowner'

            if(password === this.passwordOwner) {

                this.kondisiSelect = false
                this.kondisi = true
                this.setAlert({
                    status : true,
                    color : 'success',
                    text : 'Hallo, Selamat datang owner!'
                })
            }else{
                this.setAlert({
                    status : true,
                    color : 'error',
                    text : 'Password anda tidak sama'
                })
            }
        },
        clear () {
            this.$data.username = ''
            this.$data.email = ''
            this.$data.password = ''
            this.$data.fullname = ''
            this.$data.select = ''
        },
        submit (e1p) {
            if(this.checkbox != null){
                if(this.$refs.form.validate()) {
                    let formData = new FormData()
                    console.log(this.form);
                    formData.append('image_file', this.imageFile)
                    console.log(this.imageFile);
                    let fd = {
                        'username' : this.username,
                        'email' : this.email,
                        'password' : this.password,
                        'image' : formData,
                        'name' : this.fullname,
                        'role_id' : this.select
                    }
                    axios.post('/api/auth/register', fd)
                    .then((response) => {
                           this.e1 = e1p
                    })
                    .catch((error) => {
                        console.log(error);
                        let responses = error.response

                        this.setAlert({
                            status : true,
                            text : responses.data,
                            color : 'error'
                        })
                    })
                }
            }else{
                this.setAlert({
                    status : true,
                    text : 'Please to checklist term and conditions',
                    color : 'error'
                })
            }  
        },
        onFilePicked(files) {
        if(files !== undefined) {
            this.imageName = files.name
            if (this.imageName.lastIndexOf('.') <= 0) {
                return
            }

            const fr = new FileReader()
            fr.readAsDataURL(files)
            fr.addEventListener('load', () => {
                this.imageUrl = fr.result
                this.imageFile = files
            })
        } else {
            this.imageName = ''
            this.imageFile = ''
            this.imageUrl = ''
        }
        },
        
        verifyOTPCodes(e2p) {
            let otpCodes = {
                'otp' : this.otp,
            }

            axios.post('/api/auth/otp-verify', otpCodes)
            .then((response) => {
                if(response.data.status_code == '00'){
                    this.e1 = e2p
                }else{
                    if(response.data.message == 'Kode OTP anda sudah tidak berlaku. Segera request OTP kembali!'){
                        this.setAlert({
                            status : true,
                            text : response.data.message,
                            color : 'error'
                        })

                        this.kondisi = false
                    }else{
                         this.setAlert({
                            status : true,
                            text : response.data.message,
                            color : 'error'
                        })
                    }
                }
            })
            .catch((error) => {
                let responses = error.response

                this.setAlert({
                    status : true,
                    text : responses.data.message,
                    color : 'error'
                })
            })
        },
        getNewOTPCodes() {

            let email = {
                'email' : this.email
            }

            axios.post('/api/auth/regenerate', email)
            .then((response) => {
                this.setAlert({
                    status : true,
                    text : response.data.message,
                    color : 'success'
                })

                this.kondisi = false
            })
            .catch((error) => {
                let responses = error.response

                this.setAlert({
                    status : true,
                    text : responses.data.message,
                    color : 'error'
                })
            })
        },
        succesRegister() {
            this.setAlert({
                    status : true,
                    text : "Please login, to get your new account",
                    color : 'success'
                })
            this.close();
        },

        close () {
            this.$emit('closed', false)
        },
    }
}
</script>
