<template>
  <v-stepper>
    <v-stepper-header>
      <v-stepper-step
        step="1"
      >
        Please Make Your Password
      </v-stepper-step>

    </v-stepper-header>
    <v-stepper-items>
      <v-stepper-content step="1">
        <v-text-field
            v-model="password"
            :append-icon="showPassword ? 'mdi-eye' : 'mdi-eye-off'"
            :rules="passwordRules"
            :type="showPassword ? 'text' : 'password'"
            label="Password"
            hint="At least 8 characters"
            counter
            @click:append="showPassword = !showPassword">
        ></v-text-field>

        <v-btn
          color="primary"
          @click="getNewPassword()"
        >
          Continue
        </v-btn>
      </v-stepper-content>
    </v-stepper-items>
  </v-stepper>
</template>

<script>
import { mapGetters, mapActions} from 'vuex'

export default {
    data () {
        return {
            code : '',
            provider : '',
            showPassword: false,
            email : '',
            password : '',
            passwordRules: [
                v => !!v || 'Password is required.',
                v => (v && v.length >= 8) || 'Min 8 characters'
            ],
        }
    },
    computed : {
        ...mapGetters({
            user : 'auth/user'
        })
    },
    methods : {
        ...mapActions({
            setAlert : 'alert/set',
            setAuth : 'auth/set',
            setDialogStatus : 'dialog/setStatus'
        }),

        getNewPassword() {
        let password2 = {
          'email' : this.email,
          'password' : this.password
        }
        console.log(password2);
        axios.post('/api/auth/getNewPassword', password2)
          .then((response) => {
              this.setAlert({
                status : true,
                color : 'success',
                text : 'Login Success dan Password ditambahkan'
              })
              this.$router.push({name : 'home'})
          })

          .catch((error) => {
              this.setAlert({
                  status : true,
                  color : 'error',
                  text : error.message
              })
          })
        },

        go(provider, code) {
            let url = '/api/auth/social/' + provider + '/callback?code=' + code
            axios.get(url)
            .then((response) => {
                let { data } = response.data
                this.email = data.user.email
                this.setAuth(data)
                this.setDialogStatus(false)
            })
            .catch((error) => {
                 this.setAlert({
                        status : true,
                        color : 'error',
                        text : error.message
                    })
            })
        }
    },
    mounted() {
        this.code = this.$route.query.code
        this.provider = this.$route.path.split('/')[3]

        this.go(this.provider, this.code)
    }
}
</script>

<style>

</style>